https://velog.io/@thk-lightman/API-%ED%99%9C%EC%9A%A9%EB%B2%95-%EA%B8%B0%EC%83%81%EC%B2%AD-%EA%B3%B5%EA%B3%B5-%EB%8D%B0%EC%9D%B4%ED%84%B0-%ED%8F%AC%ED%84%B8

In [36]:
import time

In [41]:
from urllib.request import urlopen 
from urllib.parse import urlencode, unquote, quote_plus
import urllib 
import requests 
import json 
import pandas as pd 

# Setting for URL parsing 
url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'
enKey = 'fe3sO9%2FKN0w6K96qOSpa0862I2jrr9ooNQ54eKP8Pk13BHC3WgjIghpikmAWbAhBpHiuR1YAUpr%2B31CxIcvBPA%3D%3D'

params = f'?{quote_plus("ServiceKey")}={enKey}&' + urlencode({ 
    quote_plus("pageNo"): "1", # 페이지 번호 // default : 1 
    quote_plus("numOfRows"): "999", # 한 페이지 결과 수 // default : 10 
    quote_plus("dataType"): "JSON", # 응답자료형식 : XML, JSON 
    quote_plus("dataCd"): "ASOS",
    quote_plus("dateCd"): "HR",
    quote_plus("startDt"): "20210201", 
    quote_plus("startHh"): "00",
    quote_plus("endDt"): "20210228",
    quote_plus("endHh"): "23",
    quote_plus("stnIds"): "108"
    })

# URL parsing 
req = urllib.request.Request(url + params)

# Get Data from API 
response_body = urlopen(req).read()   # get bytes data 
response_body
# # Convert bytes to json 
data = json.loads(response_body) 
data
# Result 
res = pd.DataFrame(data['response']['body']['items']['item'])
res

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
0,2021-02-01 00:00,1,108,서울,6.1,,,,1.7,,...,,2000,,,0.3,,0.5,-0.2,-0.1,0.6
1,2021-02-01 01:00,2,108,서울,6.3,,,,1.7,,...,,2000,,,0.5,,0.5,-0.2,-0.1,0.6
2,2021-02-01 02:00,3,108,서울,6.2,,,,1.4,,...,8,2000,,,0.4,,0.5,-0.2,-0.1,0.6
3,2021-02-01 03:00,4,108,서울,5.7,,0.7,,1.7,,...,8,1551,,01,0.6,,0.5,-0.2,-0.1,0.6
4,2021-02-01 04:00,5,108,서울,5.7,,,9,1.2,,...,5,1520,,,0.6,,0.5,-0.2,-0.1,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2021-02-28 19:00,668,108,서울,9.8,,,,1.2,,...,22,2000,,,6.5,,7.4,6.5,5.6,5.2
668,2021-02-28 20:00,669,108,서울,9.3,,,,1.4,,...,21,2000,,,6.1,,7.2,6.4,5.7,5.3
669,2021-02-28 21:00,670,108,서울,9.1,,,,1.1,,...,19,2000,,,6.0,,7.0,6.3,5.7,5.4
670,2021-02-28 22:00,671,108,서울,9.1,,,,1.5,,...,18,2000,,,5.8,,6.9,6.2,5.7,5.4
671,2021-02-28 23:00,672,108,서울,9.0,,,,2.0,,...,17,2000,,,5.7,,6.8,6.1,5.7,5.5

In [44]:
for i in range (1,13):
    if i <10:
        if i==2:
            j=28
        elif i==4 or i==6 or i==9:
            j=30
        else:
            j=31
        i='0'+str(i)
    else:
        if i==11:
            j=30
        else:
            j=31
        i=str(i)
    j=str(j)
#     print ('2021'+i+'01')
    print('2021'+i+j)

20210131
20210228
20210331
20210430
20210531
20210630
20210731
20210831
20210930
20211031
20211130
20211231

In [46]:
weather_df=pd.DataFrame()
for i in range (1, 13):
    print(i)
    url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'
    enKey = 'fe3sO9%2FKN0w6K96qOSpa0862I2jrr9ooNQ54eKP8Pk13BHC3WgjIghpikmAWbAhBpHiuR1YAUpr%2B31CxIcvBPA%3D%3D'
   
    if i <10:
        if i==2:
            j=28
        elif i==4 or i==6 or i==9:
            j=30
        else:
            j=31
        i='0'+str(i)
    else:
        if i==11:
            j=30
        else:
            j=31
        i=str(i)
    j=str(j)
        
    start_month='2021'+i+'01'
    end_month='2021'+i+j
    params = f'?{quote_plus("ServiceKey")}={enKey}&' + urlencode({ 
        quote_plus("pageNo"): "1", # 페이지 번호 // default : 1 
        quote_plus("numOfRows"): "999", # 한 페이지 결과 수 // default : 10 
        quote_plus("dataType"): "JSON", # 응답자료형식 : XML, JSON 
        quote_plus("dataCd"): "ASOS",
        quote_plus("dateCd"): "HR",
        quote_plus("startDt"):start_month, 
        quote_plus("startHh"): "00",
        quote_plus("endDt"): end_month,
        quote_plus("endHh"): "23",
        quote_plus("stnIds"): "108"
        })

    # URL parsing 
    req = urllib.request.Request(url + params)

    # Get Data from API 
    response_body = urlopen(req).read()   # get bytes data 
    response_body
    # # Convert bytes to json 
    data = json.loads(response_body) 
    data
    # Result 
    res = pd.DataFrame(data['response']['body']['items']['item'])
    weather_df=pd.concat([weather_df, res])
    time.sleep(2)

1
2
3
4
5
6
7
8
9
10
11
12

In [47]:
weather_df

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
0,2021-01-01 00:00,1,108,서울,-8.3,,,9,1.8,,...,,2000,,,-6.8,,-0.9,-0.7,0.3,1.6
1,2021-01-01 01:00,2,108,서울,-8.7,,,,2.4,,...,,2000,,,-6.9,,-1.0,-0.8,0.3,1.6
2,2021-01-01 02:00,3,108,서울,-9.1,,,,1.6,,...,,2000,,,-7.1,,-1.1,-0.8,0.3,1.6
3,2021-01-01 03:00,4,108,서울,-9.3,,,,1.1,,...,,2000,,,-7.3,,-1.2,-0.9,0.3,1.6
4,2021-01-01 04:00,5,108,서울,-9.3,,,,0.3,,...,,2000,,,-7.5,,-1.3,-1.0,0.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2021-12-31 19:00,740,108,서울,-6.4,,,,2.2,,...,,2000,,,-4.5,,-0.5,-0.7,-0.1,1.0
740,2021-12-31 20:00,741,108,서울,-6.3,,,,4.1,,...,,2000,,,-5.3,,-0.6,-0.8,-0.1,1.0
741,2021-12-31 21:00,742,108,서울,-6.7,,,,4.8,,...,,2000,,,-5.7,,-0.7,-0.8,-0.1,1.0
742,2021-12-31 22:00,743,108,서울,-7.5,,,,3.0,,...,,2000,,,-6.2,,-0.8,-0.9,-0.2,1.0
743,2021-12-31 23:00,744,108,서울,-7.7,,,,2.9,,...,,2000,,,-6.5,,-0.9,-0.9,-0.2,1.0

In [49]:
weather_df.describe()

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
count,8760,8760,8760,8760,8760,8760,8760,8760,8760,8760,...,8760,8760,8760,8760,8760,8760,8760,8760,8760,8760
unique,8760,744,1,1,525,1,98,2,76,2,...,77,1408,1,41,596,3,403,383,351,316
top,2021-01-01 00:00,1,108,서울,21.1,,,,2.2,,...,,2000,,,-0.1,,0.5,-0.1,0.0,0.7
freq,1,12,8760,8760,51,8760,7811,6996,352,8758,...,4213,6036,8760,6635,117,8736,188,249,225,157

In [53]:
import numpy as np

In [54]:
weather_df['rain']=weather_df['rn'].replace('', np.nan)

In [58]:
weather_df['rain']=weather_df['rain'].astype(float)

In [59]:
weather_df.describe()

             rain
count  949.000000
mean     1.250263
std      3.398801
min      0.000000
25%      0.000000
50%      0.100000
75%      1.100000
max     64.700000

In [61]:
weather_df.rain.count()/len(weather_df)

0.10833333333333334

In [72]:
for a in range(2012, 2022):
    if a==2012 or a==2016 or a==2020:
        for i in range(1, 13):
            if i <10:
                if i==2:
                    j=29
                elif i==4 or i==6 or i==9:
                    j=30
                else:
                    j=31
                i='0'+str(i)
            else:
                if i==11:
                    j=30
                else:
                    j=31
                i=str(i)
            j=str(j)
            start_month=str(a)+i+'01'
            end_month=str(a)+i+j
            print (start_month, end_month)
    else:
        for i in range(1, 13):
            if i <10:
                if i==2:
                    j=28
                elif i==4 or i==6 or i==9:
                    j=30
                else:
                    j=31
                i='0'+str(i)
            else:
                if i==11:
                    j=30
                else:
                    j=31
                i=str(i)
            j=str(j)
            start_month=str(a)+i+'01'
            end_month=str(a)+i+j
            print (start_month, end_month)

20120101 20120131
20120201 20120229
20120301 20120331
20120401 20120430
20120501 20120531
20120601 20120630
20120701 20120731
20120801 20120831
20120901 20120930
20121001 20121031
20121101 20121130
20121201 20121231
20130101 20130131
20130201 20130228
20130301 20130331
20130401 20130430
20130501 20130531
20130601 20130630
20130701 20130731
20130801 20130831
20130901 20130930
20131001 20131031
20131101 20131130
20131201 20131231
20140101 20140131
20140201 20140228
20140301 20140331
20140401 20140430
20140501 20140531
20140601 20140630
20140701 20140731
20140801 20140831
20140901 20140930
20141001 20141031
20141101 20141130
20141201 20141231
20150101 20150131
20150201 20150228
20150301 20150331
20150401 20150430
20150501 20150531
20150601 20150630
20150701 20150731
20150801 20150831
20150901 20150930
20151001 20151031
20151101 20151130
20151201 20151231
20160101 20160131
20160201 20160229
20160301 20160331
20160401 20160430
20160501 20160531
20160601 20160630
20160701 20160731
20160801 20160831
20160901 20160930
20161001 20161031
20161101 20161130
20161201 20161231
20170101 20170131
20170201 20170228
20170301 20170331
20170401 20170430
20170501 20170531
20170601 20170630
20170701 20170731
20170801 20170831
20170901 20170930
20171001 20171031
20171101 20171130
20171201 20171231
20180101 20180131
20180201 20180228
20180301 20180331
20180401 20180430
20180501 20180531
20180601 20180630
20180701 20180731
20180801 20180831
20180901 20180930
20181001 20181031
20181101 20181130
20181201 20181231
20190101 20190131
20190201 20190228
20190301 20190331
20190401 20190430
20190501 20190531
20190601 20190630
20190701 20190731
20190801 20190831
20190901 20190930
20191001 20191031
20191101 20191130
20191201 20191231
20200101 20200131
20200201 20200229
20200301 20200331
20200401 20200430
20200501 20200531
20200601 20200630
20200701 20200731
20200801 20200831
20200901 20200930
20201001 20201031
20201101 20201130
20201201 20201231
20210101 20210131
20210201 20210228
20210301 20210331
20210401 20210430
20210501 20210531
20210601 20210630
20210701 20210731
20210801 20210831
20210901 20210930
20211001 20211031
20211101 20211130
20211201 20211231

In [73]:
weather_df=pd.DataFrame()
for a in range(2012, 2022):
    url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'
    enKey = 'fe3sO9%2FKN0w6K96qOSpa0862I2jrr9ooNQ54eKP8Pk13BHC3WgjIghpikmAWbAhBpHiuR1YAUpr%2B31CxIcvBPA%3D%3D'
    if a==2012 or a==2016 or a==2020:
        for i in range(1, 13):
            if i <10:
                if i==2:
                    j=29
                elif i==4 or i==6 or i==9:
                    j=30
                else:
                    j=31
                i='0'+str(i)
            else:
                if i==11:
                    j=30
                else:
                    j=31
                i=str(i)
            j=str(j)
            start_month=str(a)+i+'01'
            end_month=str(a)+i+j
            params = f'?{quote_plus("ServiceKey")}={enKey}&' + urlencode({ 
                quote_plus("pageNo"): "1", # 페이지 번호 // default : 1 
                quote_plus("numOfRows"): "999", # 한 페이지 결과 수 // default : 10 
                quote_plus("dataType"): "JSON", # 응답자료형식 : XML, JSON 
                quote_plus("dataCd"): "ASOS",
                quote_plus("dateCd"): "HR",
                quote_plus("startDt"):start_month, 
                quote_plus("startHh"): "00",
                quote_plus("endDt"): end_month,
                quote_plus("endHh"): "23",
                quote_plus("stnIds"): "108"
                })

            # URL parsing 
            req = urllib.request.Request(url + params)

            # Get Data from API 
            response_body = urlopen(req).read()   # get bytes data 
            response_body
            # # Convert bytes to json 
            data = json.loads(response_body) 
            data
            # Result 
            res = pd.DataFrame(data['response']['body']['items']['item'])
            weather_df=pd.concat([weather_df, res])
            print(a, i)
            time.sleep(2)
            
            
            
            
    else:
        for i in range(1, 13):
            if i <10:
                if i==2:
                    j=28
                elif i==4 or i==6 or i==9:
                    j=30
                else:
                    j=31
                i='0'+str(i)
            else:
                if i==11:
                    j=30
                else:
                    j=31
                i=str(i)
            j=str(j)
            start_month=str(a)+i+'01'
            end_month=str(a)+i+j
            params = f'?{quote_plus("ServiceKey")}={enKey}&' + urlencode({ 
                quote_plus("pageNo"): "1", # 페이지 번호 // default : 1 
                quote_plus("numOfRows"): "999", # 한 페이지 결과 수 // default : 10 
                quote_plus("dataType"): "JSON", # 응답자료형식 : XML, JSON 
                quote_plus("dataCd"): "ASOS",
                quote_plus("dateCd"): "HR",
                quote_plus("startDt"):start_month, 
                quote_plus("startHh"): "00",
                quote_plus("endDt"): end_month,
                quote_plus("endHh"): "23",
                quote_plus("stnIds"): "108"
                })

            # URL parsing 
            req = urllib.request.Request(url + params)

            # Get Data from API 
            response_body = urlopen(req).read()   # get bytes data 
            response_body
            # # Convert bytes to json 
            data = json.loads(response_body) 
            data
            # Result 
            res = pd.DataFrame(data['response']['body']['items']['item'])
            weather_df=pd.concat([weather_df, res])
            print (a, i)
            time.sleep(2)

2012 01
2012 02
2012 03
2012 04
2012 05
2012 06
2012 07
2012 08
2012 09
2012 10
2012 11
2012 12
2013 01
2013 02
2013 03
2013 04
2013 05
2013 06
2013 07
2013 08
2013 09
2013 10
2013 11
2013 12
2014 01
2014 02
2014 03
2014 04
2014 05
2014 06
2014 07
2014 08
2014 09
2014 10
2014 11
2014 12
2015 01
2015 02
2015 03
2015 04
2015 05
2015 06
2015 07
2015 08
2015 09
2015 10
2015 11
2015 12
2016 01
2016 02
2016 03
2016 04
2016 05
2016 06
2016 07
2016 08
2016 09
2016 10
2016 11
2016 12
2017 01
2017 02
2017 03
2017 04
2017 05
2017 06
2017 07
2017 08
2017 09
2017 10
2017 11
2017 12
2018 01
2018 02
2018 03
2018 04
2018 05
2018 06
2018 07
2018 08
2018 09
2018 10
2018 11
2018 12
2019 01
2019 02
2019 03
2019 04
2019 05
2019 06
2019 07
2019 08
2019 09
2019 10
2019 11
2019 12
2020 01
2020 02
2020 03
2020 04
2020 05
2020 06
2020 07
2020 08
2020 09
2020 10
2020 11
2020 12
2021 01
2021 02
2021 03
2021 04
2021 05
2021 06
2021 07
2021 08
2021 09
2021 10
2021 11
2021 12

In [74]:
weather_df

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
0,2012-01-01 00:00,1,108,서울,0.4,0,,,1.5,0,...,10,600,,40,-0.6,0,-0.3,-0.4,-0.3,0.1
1,2012-01-01 01:00,2,108,서울,0.3,0,,,2.3,0,...,,,,40,-0.6,0,-0.3,-0.3,-0.3,0.1
2,2012-01-01 02:00,3,108,서울,-0.1,0,,,1.3,0,...,,,,40,-1.2,0,-0.3,-0.3,-0.3,0.2
3,2012-01-01 03:00,4,108,서울,-0.5,0,,,0.8,0,...,10,400,4,40,-1.7,0,-0.5,-0.4,-0.3,0.1
4,2012-01-01 04:00,5,108,서울,-1.2,0,,,1.5,0,...,10,400,,40,-2.7,0,-0.7,-0.4,-0.3,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2021-12-31 19:00,740,108,서울,-6.4,,,,2.2,,...,,2000,,,-4.5,,-0.5,-0.7,-0.1,1.0
740,2021-12-31 20:00,741,108,서울,-6.3,,,,4.1,,...,,2000,,,-5.3,,-0.6,-0.8,-0.1,1.0
741,2021-12-31 21:00,742,108,서울,-6.7,,,,4.8,,...,,2000,,,-5.7,,-0.7,-0.8,-0.1,1.0
742,2021-12-31 22:00,743,108,서울,-7.5,,,,3.0,,...,,2000,,,-6.2,,-0.8,-0.9,-0.2,1.0
743,2021-12-31 23:00,744,108,서울,-7.7,,,,2.9,,...,,2000,,,-6.5,,-0.9,-0.9,-0.2,1.0

In [77]:
def make_datetime(df):
    df['date']=pd.to_datetime(df['tm'])
    df['year']=df['date'].dt.year
    df['month']=df['date'].dt.month
    df['day']=df['date'].dt.day
    df['day'] = df['date'].dt.day
    df['dayofweek'] = df['date'].dt.dayofweek
    df['hour']=df['date'].dt.hour
    return df

In [78]:
tmp=make_datetime(weather_df)

In [84]:
tmp_2012=tmp[tmp['year']==2012]

In [86]:
tmp_2012['month'].value_counts()

1     744
3     744
5     744
7     744
8     744
10    744
12    744
4     720
6     720
9     720
11    719
2     696
Name: month, dtype: int64

In [89]:
tmp_2012[tmp_2012['month']==11][tmp_2012[tmp_2012['month']==11]['day']==29]

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,m005Te,m01Te,m02Te,m03Te,date,year,month,day,dayofweek,hour
672,2012-11-29 00:00,673,108,서울,0.0,0,,9,3.8,0,...,1.7,3.7,5.0,6.0,2012-11-29 00:00:00,2012,11,29,3,0
673,2012-11-29 01:00,674,108,서울,-1.3,0,,,3.5,0,...,1.4,3.5,4.8,5.9,2012-11-29 01:00:00,2012,11,29,3,1
674,2012-11-29 03:00,675,108,서울,-0.6,0,,9,2.0,0,...,1.0,3.0,4.4,5.7,2012-11-29 03:00:00,2012,11,29,3,3
675,2012-11-29 04:00,676,108,서울,-1.0,0,,,2.6,0,...,0.9,3.0,4.5,5.8,2012-11-29 04:00:00,2012,11,29,3,4
676,2012-11-29 05:00,677,108,서울,-1.2,0,,,0.7,0,...,0.6,2.7,4.2,5.6,2012-11-29 05:00:00,2012,11,29,3,5
677,2012-11-29 06:00,678,108,서울,-1.8,0,,,1.4,0,...,0.4,2.6,4.2,5.6,2012-11-29 06:00:00,2012,11,29,3,6
678,2012-11-29 07:00,679,108,서울,-1.9,0,,,1.2,0,...,0.1,2.4,4.0,5.5,2012-11-29 07:00:00,2012,11,29,3,7
679,2012-11-29 08:00,680,108,서울,-1.9,0,,,1.5,0,...,0.0,2.2,3.9,5.4,2012-11-29 08:00:00,2012,11,29,3,8
680,2012-11-29 09:00,681,108,서울,-1.1,0,,,2.7,0,...,0.1,2.0,3.7,5.3,2012-11-29 09:00:00,2012,11,29,3,9
681,2012-11-29 10:00,682,108,서울,-0.4,0,,,3.7,0,...,0.3,2.0,3.7,5.3,2012-11-29 10:00:00,2012,11,29,3,10
682,2012-11-29 11:00,683,108,서울,1.0,0,,,4.5,0,...,0.6,2.0,3.6,5.3,2012-11-29 11:00:00,2012,11,29,3,11
683,2012-11-29 12:00,684,108,서울,1.8,0,,,4.2,0,...,0.7,2.0,3.6,5.2,2012-11-29 12:00:00,2012,11,29,3,12
684,2012-11-29 13:00,685,108,서울,3.0,0,,,3.2,0,...,1.0,2.1,3.6,5.1,2012-11-29 13:00:00,2012,11,29,3,13
685,2012-11-29 14:00,686,108,서울,4.4,0,,,3.4,0,...,1.7,2.4,3.7,5.0,2012-11-29 14:00:00,2012,11,29,3,14
686,2012-11-29 15:00,687,108,서울,4.4,0,,,3.9,0,...,2.6,2.9,3.9,5.0,2012-11-29 15:00:00,2012,11,29,3,15
687,2012-11-29 16:00,688,108,서울,4.1,0,,,4.2,0,...,3.0,3.4,4.2,5.0,2012-11-29 16:00:00,2012,11,29,3,16
688,2012-11-29 17:00,689,108,서울,3.2,0,,,1.4,0,...,2.8,3.6,4.3,5.0,2012-11-29 17:00:00,2012,11,29,3,17
689,2012-11-29 18:00,690,108,서울,2.5,0,,,2.1,0,...,1.9,3.6,4.3,5.0,2012-11-29 18:00:00,2012,11,29,3,18
690,2012-11-29 19:00,691,108,서울,2.2,0,,,2.4,0,...,1.7,3.5,4.3,5.1,2012-11-29 19:00:00,2012,11,29,3,19
691,2012-11-29 20:00,692,108,서울,1.9,0,,,2.1,0,...,1.4,3.2,4.1,5.1,2012-11-29 20:00:00,2012,11,29,3,20
692,2012-11-29 21:00,693,108,서울,1.1,0,,,1.4,0,...,1.1,3.0,4.1,5.2,2012-11-29 21:00:00,2012,11,29,3,21
693,2012-11-29 22:00,694,108,서울,0.7,0,,,0.2,0,...,0.8,2.8,3.9,5.1,2012-11-29 22:00:00,2012,11,29,3,22
694,2012-11-29 23:00,695,108,서울,0.5,0,,,0.3,0,...,0.7,2.6,3.9,5.1,2012-11-29 23:00:00,2012,11,29,3,23

In [96]:
tmp_29_2=pd.DataFrame(weather_df.iloc[673])

In [100]:
tmp_29_2=tmp_29_2.T

In [102]:
tmp_29_2.reset_index(inplace=True, drop=True)

In [103]:
weather_df.shape

(87671, 44)

In [104]:
weather_df=pd.concat([weather_df, tmp_29_2])

In [105]:
weather_df.shape

(87672, 44)

In [108]:
weather_df=weather_df.sort_values(by='tm')

In [97]:
24*365*10 + 24*3

87672

In [121]:
87672 + 5088

92760

In [115]:
weather_2022=pd.DataFrame()
for i in range(1, 8):
    if i==2:
        j=28
    elif i==4 or i==6 :
        j=30
    else:
        j=31
    i='0'+str(i)
    j=str(j)
    start_month='2022'+i+'01'
    end_month='2022'+i+j
    params = f'?{quote_plus("ServiceKey")}={enKey}&' + urlencode({ 
        quote_plus("pageNo"): "1", # 페이지 번호 // default : 1 
        quote_plus("numOfRows"): "999", # 한 페이지 결과 수 // default : 10 
        quote_plus("dataType"): "JSON", # 응답자료형식 : XML, JSON 
        quote_plus("dataCd"): "ASOS",
        quote_plus("dateCd"): "HR",
        quote_plus("startDt"):start_month, 
        quote_plus("startHh"): "00",
        quote_plus("endDt"): end_month,
        quote_plus("endHh"): "23",
        quote_plus("stnIds"): "108"
        })

    # URL parsing 
    req = urllib.request.Request(url + params)

    # Get Data from API 
    response_body = urlopen(req).read()   # get bytes data 
    response_body
    # # Convert bytes to json 
    data = json.loads(response_body) 
    data
    # Result 
    res = pd.DataFrame(data['response']['body']['items']['item'])
    weather_2022=pd.concat([weather_2022, res])
    time.sleep(2)

In [116]:
weather_2022

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
0,2022-01-01 00:00,1,108,서울,-8.5,,,,1.9,,...,,2000,,,-7.0,,-1.0,-1.0,-0.2,1.0
1,2022-01-01 01:00,2,108,서울,-9.2,,,,1.8,,...,,2000,,,-7.2,,-1.1,-1.1,-0.2,1.0
2,2022-01-01 02:00,3,108,서울,-9.5,,,,1.2,,...,,2000,,,-7.5,,-1.3,-1.2,-0.2,1.0
3,2022-01-01 03:00,4,108,서울,-9.3,,,,1.4,,...,,2000,,,-7.6,,-1.4,-1.2,-0.2,1.0
4,2022-01-01 04:00,5,108,서울,-9.6,,,,1.7,,...,,2000,,,-7.6,,-1.4,-1.3,-0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2022-07-31 19:00,740,108,서울,26.7,,0.3,,2.3,,...,6,1830,,01,27.1,,28.7,28.5,28.0,28.1
740,2022-07-31 20:00,741,108,서울,26.4,,2.9,,2.8,,...,6,243,,1901,26.4,,28.5,28.4,28.0,28.0
741,2022-07-31 21:00,742,108,서울,26.0,,6.4,,2.3,,...,4,481,,1901,25.9,,28.2,28.2,27.9,28.0
742,2022-07-31 22:00,743,108,서울,25.7,,14.7,,2.3,,...,3,87,,1901,25.4,,27.7,27.8,27.8,28.0
743,2022-07-31 23:00,744,108,서울,25.5,,9.1,,2.5,,...,6,266,,1901,25.3,,27.2,27.3,27.5,28.0

In [119]:
weather_df=pd.concat([weather_df, weather_2022])

In [122]:
weather_df.reset_index(inplace=True, drop=True)

In [123]:
weather_df.to_csv('weather_df.csv', index=False)